.footer {
    background: #ffffff;
    height: 150px;
    padding-top: 10px;
    font-size: smaller;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    bottom: 0;
    position: relative;
    
}
