/*

All grid code is placed in a 'supports' rule (feature query) at the bottom of the CSS (Line 77). 
        
The 'supports' rule will only run if your browser supports CSS grid.

Flexbox is used as a fallback so that browsers which don't support grid will still recieve an identical layout.

*/

@import url(https://fonts.googleapis.com/css?family=Montserrat:500);
*,
*::before,
*::after {
	box-sizing: border-box;
}

.home-text {
	text-align: center;
	
}
.max-w{
	max-width:80%;
	margin-left: auto;
	margin-right: auto;
}


.class-a li:hover {
	background-color:ghostwhite;	
	border-radius: 15px;
	cursor:pointer
  }


  .about-ul {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	height: 100%;
	list-style: none;
	padding: 0;
	margin: 0;
  }
  
  .about-li {
	display: flex;
	align-items: center;
	text-align: left;
	margin: 10px 0;
  }
  
  
  